h1 {
  color: #f40c0c;
  opacity: 1000%;

  opacity:;
}
a {
  color: rgb(38, 0, 255);
  font-size: 50px;
}

a {
  text-decoration: none;
}

body {
  background-image: url(https://cdn-media.sforum.vn/storage/app/media/ctvseo_maihue/hinh-nen-1920-1080/hinh-nen-1920-1080-thumbnail.jpg);
}
body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("bg.jpg") center/cover no-repeat;
  opacity: 0.5;
  z-index: -1;
}
