body {
  /* margin: -5px 5px 0 0; */
}
.menu {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
img {
  width: 100px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  padding: 15px;
}
.c3 {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}
.c1 {
  flex-shrink: 0;
}
.c3 img {
  width: 30px;
}

.c2 {
  margin: 0 auto;
}
